<!doctype html>
<html lang="en">

<%- include('../components/head'); %>


<body>

<!--Jumbotron-->
<%- include('../components/jumbotron'); %>
<!--Fin du jumbotron-->

<!--Menu-->
<%- include('../components/menu'); %>





<!--Footer-->

<%- include('../components/footer'); %>



  <!-- Optional JavaScript; choose one of the two! -->
<%- include('../components/scriptscdn'); %>

  <script type="text/javascript" >
   $(document).ready(function() {
      mySettings.previewParserPath= 'markdown/parser.php';
      $("textarea").markItUp(mySettings);
   });
</script>

</body>

</html>
