<%- include('../components/meta'); %>
<%- include('../components/bootstrap'); %>
<%- include('../components/cssperso'); %>
<%- include('../components/cssmarkitup'); %>
<%- include('../components/icons'); %>
<title><%= titre %></title>
